.vscode/
.vscode-test/
.vscode-test-web/
.vscode-test.js
node_modules
out/
src/
test/
esbuild.js
tsconfig.json
*.vsix
.gradle/
build/
.gitignore
build.gradle.kts
gradle.properties

# Ignore files outside of the project directory
../
