# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/

## NOTE: prefer editing the root .gitnore to this one.  See the "Intellij exceptions" section there.
